*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}

.container{
    height: 73vh;
    width: 31vw;
    border-radius: 2rem;
    padding: 2.4rem;
    background-color: hsl(213, 19%, 18%);
}

.container > * {
    margin-top: 8%;
}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

p{
    line-height: 1.3rem;
    /* word-spacing: 0.1rem; */
    /* text-align: center; */
}

.container > img{
    border-radius: 50%;
    padding: 1rem;
    margin-top: 0;
    background-color: hsl(213, 16%, 22%);
}

.rating-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating{
    width: 52px;
    height: 52px;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: hsl(213, 16%, 22%);
    transition: transform 0.2s ease-in;
}

.rating:hover{
    background-color: hsl(216, 12%, 54%);
}

.rating.selected-rating:hover{
    background-color: hsl(25, 97%, 53%);
}

.rating:active {
    background-color: hsl(25, 97%, 53%);
    transform: scale(120%);
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-radius: 2rem;
    background-color: hsl(25, 97%, 53%);
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}

.submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.submit:disabled {
    background-color: #222;
    cursor: not-allowed;
    color: white;
}

.hue{
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    font-size: 15px;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    color: hsl(0, 0%, 100%);
    position: absolute;
    bottom: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered > img{
    background-color: hsl(213, 19%, 18%);
}

.notify{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.15rem;
    height: 1.5rem;
    width: 60%;
    border-radius: 2rem;
    background-color: hsl(213, 16%, 22%);
}

.notify > p{
    color: hsl(25, 97%, 53%);
}

.selected-rating{
    background-color: hsl(25, 97%, 53%);
}